# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
17: lib/
18: lib64/
19: parts/
20: sdist/
21: var/
22: wheels/
23: share/python-wheels/
24: *.egg-info/
25: .installed.cfg
26: *.egg
27: MANIFEST

# PyInstaller
#  Usually these files are written by a python script, and may contain methods for
31: #  unpackaging packages, so Python programs should be ignored
32: *.manifest
33: *.spec

# Installer logs
36: pip-log.txt
37: pip-delete-this-directory.txt

# Unit test / coverage reports
40: htmlcov/
41: .tox/
42: .nox/
43: .coverage
44: .coverage.*
45: .cache
46: nosetests.xml
47: coverage.xml
48: *.cover
49: *.py,cover
50: .hypothesis/
51: .pytest_cache/
52: cover/

# Translations
55: *.mo
56: *.pot

# Django stuff:
59: *.log
60: local_settings.py
61: db.sqlite3
62: db.sqlite3-journal

# Flask stuff:
65: instance/
66: .webassets-cache

# Scrapy stuff:
69: .scrapy

# Sphinx documentation
72: docs/_build/

# PyBuilder
75: .pybuilder/
76: target/

# Jupyter Notebook
79: .ipynb_checkpoints

# IPython
82: profile_default/
83: ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the Python version
87: #  is managed by the consumable. For a GUI or desktop app, you might want to keep them.
88: # .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
92: #   However, in case of collaboration, if having platform-specific dependencies or dependencies
93: #   having no cross-platform support, pipenv may install dependencies that don't work, or even
94: #   fail to install them.
95: #Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
99: #   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
100: #poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
104: #pdm.lock
#   pdm build plugins may create files in .pdm-build/
106: .pdm-build/

# PEP 582; used by e.g. github.com/fkrull/venvs & pdm
109: __pypackages__/

# Celery stuff
112: celerybeat-schedule
113: celerybeat.pid

# SageMath parsed files
116: *.sage.py

# Environments
119: .env
120: .venv
121: env/
122: venv/
123: ENV/
124: env.bak/
125: venv.bak/

# Spyder project settings
128: .spyderproject
129: .spyproject

# Rope project settings
132: .ropeproject

# mkdocs documentation
135: /site

# mypy
138: .mypy_cache/
139: .dmypy.json
140: dmypy.json

# Pyre type checker
143: .pyre/

# pytype static type analyzer
146: .pytype/

# Cython debug symbols
149: cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate repo from Github
153: #  .idea/ai_generated_configs.xml
154: .idea/

# VS Code
157: .vscode/

# macOS
160: .DS_Store

# Project specific
163: data/*.db
164: data/*.csv
# images/
166: .agents/
